body {
  font-family: "Nunito Sans", sans-serif;
}
.container {
  max-width: 1180px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  /* коммент: убрал ненужный padding
    padding-top: 10px;
  */
}
header {
  border-bottom: 1px solid #dedede;
}
.header {
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 25px;
}
.header-logo {
  display: block;
  background-image: url(../images/logo.svg);
  width: 176px;
  height: 56px;
  background-repeat: no-repeat;
  block-size: cover; /*будет полстраиваиться пол любые блоки*/
}
.header-nav {
  list-style-type: none;
  display: flex;
  padding-left: 0;
  gap: 46px;
}
.header-nav a {
  font-size: 19px;
  font-weight: 600;
  color: #443737;
  text-decoration: none;
}
.header-nav a:hover {
  color: #ffc725;
}
.header-nav a::after {
  content: "";
  width: 100%;
  height: 3px;
  border-radius: 1.5px;
  background: transparent;
  display: block;
}

.header-nav a.active::after {
  background: #ffc725;
}
.button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
  gap: 10px;
  cursor: pointer;
}
.button-text {
  color: #443737;
  font-weight: bold;
  font-size: 15px;
}
.button-item {
  position: relative;
}
.button-count {
  font-weight: bold;
  font-size: 13px;
  color: white;
  background: #f37335;
  border-radius: 100%;
  position: absolute;
  width: 17px;
  height: 17px;
  line-height: 1.3;
  bottom: 3px;
  right: -4px;
}
.bg {
  text-align: center;
  color: #ffffff;
  background-image: url(../images/burger-main-bg.jpg);
  background-size: cover;
  background-position: center center;
  padding: 142px 0;
  margin-bottom: 140px;
}
.breadcrumbs {
  padding-left: 0;
  margin-top: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 16px;
}
.breadcrumbs a {
  color: #dedede;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}
.breadcrumbs a::before {
  content: "/";
  position: relative;
  left: -8px;
  pointer-events: none;
}
.breadcrumbs a:hover::before {
  color: #dedede;
}
.breadcrumbs li:first-child a::before {
  display: none;
}
.title {
  font-weight: bold;
  font-size: 79px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.description {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 1.6;
  max-width: 320px;
  margin: 0 auto;
}
.banner {
  margin-bottom: 100px;
}
.banner-box {
  background-image: url(../images/burger-secondary-bg.jpg);
  background-size: cover;
  background-position: 0 center;
  padding: 100px 100px 120px;
  background-repeat: no-repeat;
  margin-bottom: 90px;
}
.banner-title {
  font-size: 60px;
  font-weight: 900;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 12px;
}
.banner-title span {
  font-family: "Open Sans", sans-serif;
  background-color: #f37335;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 14px;
  padding: 5px 0;
  display: block;
  max-width: 96px;
  text-align: center;
  margin-bottom: 9px;
}

.banner-text {
  color: #faf9f9;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  max-width: 353px;
  line-height: 1.6;
  margin-top: 0;
  margin-bottom: 35px;
}
.banner-link {
  color: #1e2f40;
  background-color: #fbb731;
  text-decoration: none;
  font-size: 14px;
  border-radius: 5px;
  padding: 18px 25px;
  text-transform: uppercase;
  border: 1px solid #fbb731;
  transition: 1.2s;
}
.banner-link:hover {
  background-color: transparent;
  color: #fbb731;
  transition: 1.2s;
}
.menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 34px;
}
.menu-grid-btn:hover {
  background-color: #f37335;
  cursor: pointer;
}
.menu-title {
  font-size: 44px;
  font-weight: 700;
  text-transform: uppercase;
  color: #1b2a49;
  margin: 0;
}
.menu-select {
  border: 1px solid #dedede;
  padding: 13px 30px;
  border-radius: 22px;
  color: #443737;
  font-size: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  flex-basis: 279px;
  background-image: url(../images/chevron-down.svg);
  background-size: 12.79px 7.75px;
  background-repeat: no-repeat;
  background-position: 89% center;
}
.menu-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px 20px;
  margin-bottom: 100px;
}
.menu-grid-cover {
  width: 100%;
  height: 430px;
  position: relative;
  overflow: hidden;
  margin-bottom: 23px;
}
.menu-grid-cover img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 430px;
}
.menu-grid-item {
  text-align: center;
}
.menu-grid-title {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  color: #1b2a49;
}
.menu-grid-price {
  margin-top: 0;
  padding: 0;
  margin-bottom: 20px;
  color: #979797;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
.menu-grid-btn {
  padding: 10px 30px;
  background: #fbb731;
  border-radius: 5px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 9px;
}
.menu-grid-text {
  color: #1e2f40;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.menu-grid-icon {
  background-image: url(../images/cart.svg);
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  width: 18px;
  height: 18px;
}
.footer {
  background: #1e2f40;
  color: #fff;
  padding-top: 117px;
  padding-bottom: 106px;
  margin-top: 140px;
}

.logo {
  width: 63px;
  height: 56px;
}
.item {
  flex: 0 0 auto;
}
.item a:hover {
  color: #fbb731;
}
.item h2 {
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 12px;
  margin-top: 0;
}
.footer-list ul,
.footer-tel ul {
  list-style-type: none;
}
.footer-tel a:hover {
  color: white;
}
.footer-list li {
  margin-bottom: 9px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #faf9f9;
  font-weight: 700;
  line-height: 24px;
}
.footer-list a {
  color: #dedede;
  text-decoration: none;
  font-weight: 400;
}
.footer-list span {
  color: #dedede;
  display: block;
  font-weight: 400;
  margin-bottom: 2px;
}
.footer-tel ul {
  font-size: 20px;
  color: #fbb731;
  margin-top: 0;
}
.footer-tel li {
  margin-bottom: 12px;
}
.footer-box {
  display: flex;
  justify-content: space-between;
}
.footer-list {
  padding-left: 0;
  list-style-type: none;
}
.header-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 68.5%;
}
.footer-list-tel {
  margin-top: 0;
}
.footer-list-tel a {
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 2px;
  color: #fbb731;
}
/* style index */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Nunito Sans", sans-serif;
}
.main {
  background: linear-gradient(180deg, #0c4c7b -100%, #1e2f40 100%);
}
.wrapper {
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.text {
  color: #faf9f9;
  flex: 0 0 580px;
  padding-top: 170px;
  padding-bottom: 170px;
}
h1 {
  font-size: 120px;
  font-weight: 800;
  text-transform: uppercase;
  /*коммент2: поменял с 120px на 1.2*/
  line-height: 1.2;
  margin-bottom: 40px;
  margin-top: 0;
}
h1 span {
  color: #fbb731;
  font-size: 30px;
  font-weight: 700;
  line-height: 38px;
  display: block;
  margin-bottom: 10px;
}
.text p {
  font-family: "Lato", sans-serif;
  font-size: 19px;
  line-height: 1.4;
  margin-bottom: 42px;
}
.main a,
.promo a {
  color: #1e2f40;
  background-color: #fbb731;
  border-radius: 5px;
  text-decoration: none;
  padding: 20px 45px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}
.visual {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.visual-bg {
  width: 432px;
  height: 100%;
  background: linear-gradient(
    2.42deg,
    #f37335 -19.6%,
    #fbb731 100.79%,
    #fdc830 100.79%
  );
}
.main img {
  width: 829px;
  position: absolute;
  right: -168px;
}
.promo {
  padding-top: 186px;
  padding-bottom: 186px;
}
.promo-left,
.promo-right {
  flex: 0 0 49%;
  color: #fff;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.promo-left {
  background-image: url(../images/promo-left.png);
  padding: 116px 50px;
}
.promo-right {
  background-image: url(../images/promo-right.png);
  padding: 102px 50px;
}
.sale {
  font-size: 14px;
  font-weight: 900;
  background: #f37335;
  padding: 5px 19px;
  border-radius: 14px;
  display: inline-block;
  text-transform: uppercase;
  margin-bottom: 3px;
}
.cost {
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 8px;
}
.promo-description {
  font-family: "Open Sans", sans-serif;
  color: #faf9f9;
  font-size: 15px;
  line-height: 24px;
}
.promo-left .promo-description {
  max-width: 392px;
}
.promo-right .promo-description {
  max-width: 300px;
  margin-bottom: 20px;
}
.free {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 10px;
}
.button-up {
  background-color: #fbb731;
  color: #1e2f40;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px 20px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 5px;
  transition: 1s;
}
.button-up.hidden {
  opacity: 0;
}

/* responsive */
@media (min-width: 766px) {
  .header-burger {
    display: none;
  }
}
@media (max-width: 1001px) {
  .footer-list-second {
    display: none;
  }
  .footer-list-tel {
    margin-top: 13px;
    /*коммент: добавил*/
  }
  .menu-grid-cover img {
    height: 100%;
  }
}
@media (min-width: 1002px) {
  .footer-list-first {
    display: none;
  }
  /*коммент: поменял с 1001 на 1002*/
}
@media (max-width: 1000px) {
  .container {
    max-width: 738px;
  }
  .header-logo {
    width: 150px;
    height: 48px;
    background-size: contain;
  }
  .header-nav {
    gap: 22px;
  }
  .header-item {
    flex-basis: 75.5%;
  }
  .bg {
    margin-bottom: 72px;
  }
  .banner-box {
    /* коммент: добавил bp чтобы нужная часть картинки появилась в видимой области */
    background-position: -88px center;
    padding: 100px 40px 120px;
  }
  .menu-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 15px;
  }
  .menu-other {
    overflow: hidden;
    height: 558px;
  }
  .menu-other .menu-grid {
    display: flex;
    width: auto;
    overflow-y: hidden;
    overflow-x: scroll;
    padding-bottom: 50px;
    /*коммент: добавил margin-right */
    margin-right: -15px;
  }
  .menu-other .menu-grid-item {
    flex: 0 0 36vw;
  }
  .menu-other .menu-grid-cover,
  .menu-other .menu-grid-cover img {
    height: 60vw;
  }
}
/* modal */
.burger {
  width: 34px;
  height: 22px;
  background-image: url(../images/menu-button.svg);
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
}
.modal {
  background-color: #fff8dc;
  max-width: 500px;
  text-align: center;
  position: absolute;
  top: -400px;
  left: 0;
  right: 0;
  margin: 20px auto;
  padding: 40px;
  box-sizing: border-box;
  transition: 0.5s;
}
.modal .header-nav {
  flex-direction: column;
  align-items: center;
  gap: 23px;
  margin: 0;
}
.burger-close {
  width: 22px;
  height: 22px;
  background-image: url(../images/menu-close.svg);
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
@media (max-width: 769px) {
  .menu-other .menu-grid-item {
    /*коммент: изменил значение flex*/
    flex: 0 0 40vw;
    background-size: contain;
  }
  .menu-grid-cover {
    /*коммент: изменил значение*/
    height: 60vw;
  }
  .footer-list-tel {
    display: none;
  }
}
@media (max-width: 765px) {
  nav {
    display: none;
  }
  .header {
    gap: 21px;
  }
}
@media (max-width: 636px) {
  /*коммент: добавил оптимизацию*/
  .footer-box {
    flex-direction: column;
  }
  .title {
    font-size: 40px;
  }
}
/* коммент2: добавил блок mw:551px + d 434px добавил тоже самое, только шрифт как в макете*/
@media (max-width: 551px) {
  .menu-grid-title {
    font-size: 23px;
  }
}

@media (max-width: 434px) {
  /*коммент: добавил оптимизацию для текста, а то слишком большой получается на этом моменте*/
  .menu-grid-title {
    font-size: 13px;
  }
  .menu-title {
    font-size: 29px;
  }
}

@media (max-width: 321px) {
  .header-logo {
    width: 116px;
    height: 37px;
  }
  .menu-grid-title {
    color: #1b2a49;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
  }
  .menu-grid-price {
    width: 140px;
    font-size: 16px;
    margin: 9px auto;
    /*коммент: добавил margin, чтобы цена была посередине*/
  }
  .menu-grid {
    /* коммент2: убрал изменение размера карточки бургеров, изменил gap, как и должно было быть */
    gap: 24px 12px;
  }
  /* коммент2: заметил что в макете должно быть gap 11 между карточками из дополнительно.
Если ставить 11, то блоки особо не будут "показываться",
 поэтому я поставил 5px и сейчас 3-й блок немного видно*/
  .menu-grid-additionally{
    gap: 24px 5px;
  }
  .menu-grid-btn {
    padding: 10px 20px;
  }
  /*
  коммент2:
  переместил этот блок в 1001px
    .menu-grid-cover img {
    height: 100%;
  }
  */

  .title {
    font-size: 38px;
    line-height: normal;
  }
  .breadcrumbs {
    font-size: 14px;
  }
  .description {
    font-size: 12px;
  }
  .bg {
    background-repeat: no-repeat;
    /* background-clip: content-box;*/
  }
  .banner-box {
    background-position-x: 20%;
    padding-top: 50px;
    padding-bottom: 60px;
    padding-left: 30px;
  }
  .banner-text {
    height: 73px;
    width: 247px;
  }
  .menu-other {
    /*коммент: убрал*/
    overflow: unset;
    height: unset;
  }
  .menu-other .menu-grid-cover,
  .menu-other .menu-grid-cover img {
    height: 60vw;
  }
  .menu-other .menu-grid-item {
    /*коммент: изменил для того чтобы было видно 3 блок*/

    background-size: contain;
  }
  .menu-select {
    /*коммент: значения top немного не совпадает т.к. картинка с бургером перекрывала бы текст*/
    padding: 8px 30px 8px 15px;
    font-size: 12px;
    flex-basis: unset;
  }
  .menu-title {
    font-size: 27px;
  }
  .footer {
    padding-top: 61px;
    padding-bottom: 61px;
  }
  .footer-list-tel {
    display: none;
  }
  .footer-box {
    flex-direction: column;
    gap: 33px;
  }
  .footer-box h2 {
    font-size: 18px;
  }
}
